<!doctype html>

{{ template "_head.html" }}
{{ template "_style.html" }}
{{ template "_navbar.html" }}

<body>
  <div class="container mt-5">
    <h2>Did you found a bug?</h2>
  </div>
  <div class="container mt-5">
    <p>You can help us improving this software by reporting it using:</p>
    <ul>
        <li><a href="https://github.com/govirtuo/kube-ns-suspender/issues/new?assignees=eze-kiel&labels=bug%2Cui%2Ctriage&template=bug_report.yaml&title=%5BBug%5D%3A+" target="_blank"><i class="fa fa-fw fa-github"></i> GitHub issues</a></li>
        {{if ne .SlackChannelName ""}}
          {{if ne .SlackChannelLink ""}}
            <li><a href="{{.SlackChannelLink}}"><i class="fa fa-fw fa-slack"></i> {{.SlackChannelName}}</a></li>
          {{else}}
            <li><i class="fa fa-fw fa-slack"></i> {{.SlackChannelName}}</li>
          {{end}}
        {{end}}
    </ul>
  </div>
  <div class="container mt-5">
    <p>You are using <b>kube-ns-suspender</b> version <b style="color:#17A2B8">{{.Version}}</b> which was built: <b style="color:#17A2B8">{{.BuildDate}}</b>.</p>
    <p>Please provide the information above, as well as much information as possible: what did you do, what did you expect, what happened instead...</p>
    <p>Thanks!</p>
  </div>
</body>
<div class="footer">
  <div class="container">
    <p style="text-align: center;">
        Developed by <a href="https://www.govirtuo.com">Virtuo Technologies</a>, delivered under MIT license. Version: '{{.Version}}' (built: {{.BuildDate}}).
    </p>
  </div>
</div>
</html>