<!doctype html>

{{ template "_head.html" }}
{{ template "_style.html" }}
{{ template "_navbar.html" }}

<body>
  {{if .Error}}
  <div class="container mt-5">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{.ErrMsg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {{end}}

  {{if .HasMessage}}
  <div class="container mt-5">
    <div class="container mt-5">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{.Message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  {{end}}

  <div class="container mt-5">
    <h1>Namespaces</h1>
  </div>

  <div class="container mt-5">
    <input type="text" id="searchBar" onkeyup="search()" placeholder="Search for namespaces...">

    <table id="namespacesTable">
      <tr class="header">
        <th style="text-align: center;">Namespace</th>
        <th style="text-align: center;">State</th>
        <th style="text-align: center;">Daily Suspend Time</th>
        <th style="text-align: center;">Next Suspend Time</th>
        <th style="text-align: center;">Action</th>
      </tr>
      {{range .NamespacesList.Namespaces}}
        <tr>
          <td style="text-align: center;"><code>{{.Name}}</code></td>
          <td style="text-align: center;">
            {{if eq .State "Running"}}
            <span class="badge badge-pill badge-info">{{.State}}</span>
            {{else if eq .State "Suspended"}}
            <span class="badge badge-pill badge-danger">{{.State}}</span>
            {{else}}
            <span class="badge badge-pill badge-secondary">Unknown</span>
            {{end}}
          </td>
          <td style="text-align: center;">{{.DailySuspendTime}}</td>
          <td style="text-align: center;">{{.NextSuspendTime}}</td>
          <td style="text-align: center;">
            {{if eq .State "Running"}}
              <a href="/suspend?name={{.Name}}" class="btn btn-light btn-sm" role="button"><i class="fa fa-pause-circle-o" aria-hidden="true"></i> Suspend</a>
            {{else if eq .State "Suspended"}}
              <a href="/unsuspend?name={{.Name}}" class="btn btn-light btn-sm" role="button"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Unsuspend</a>
            {{else}}
            <a href="/suspend?name={{.Name}}" class="btn btn-light btn-sm" role="button"><i class="fa fa-pause-circle-o" aria-hidden="true"></i> Suspend</a>
            / <a href="/unsuspend?name={{.Name}}" class="btn btn-light btn-sm" role="button"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Unsuspend</a>
            {{end}}
          </td>
        </tr>
      {{end}}
    </table>
      </table>
      <br>
      <button type="button" class="btn btn-light" onclick="window.location.reload();"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh list</button>
  </div>
</body>

<script>
function search() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchBar");
  filter = input.value.toUpperCase();
  table = document.getElementById("namespacesTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<div class="footer">
  <div class="container">
    <p style="text-align: center;">
        Developed by <a href="https://www.govirtuo.com">Virtuo Technologies</a>, delivered under MIT license. Version: '{{.Version}}' (built: {{.BuildDate}}).
    </p>
  </div>
</div>
</html>