<!doctype html>

{{ template "head.html" }}

{{ template "style.html" }}

<header>
  <div class="navbar">
    <a href="/"><i class="fa fa-fw fa-play-circle"></i> Unsuspend a namespace</a>
    <a href="/list"><i class="fa fa-fw fa-list"></i> See all namespaces</a>
    <a href="/bug"><i class="fa fa-fw fa-bug"></i> Found a bug?</a>
    <a style="float: right" href="https://github.com/govirtuo/kube-ns-suspender" target="_blank"><i class="fa fa-fw fa-github"></i> Project page</a>
  </div>
</header>

<body>
  {{if .Success}}
    <p><b style="color: #04AA6D"><i class="fa fa-fw fa-check"></i> Success:</b> unsuspended <b>{{.Name}}</b></p>
  {{else}}
    <p><b style="color: #DA190B"><i class="fa fa-fw fa-times"></i> Error:</b> {{.ErrorMsg}}</p>
  {{end}}

  <br>
  <form action="/">
    <input class="button" type="submit" value="Return" />
  </form>
</body>

{{ template "footer.html" }}