
<style>
    body {
      font-family: 'Roboto', sans-serif;
    }
  
    p {
      color: #7d7d82;
    }

    a {
      text-decoration: none;
    }
    /* Style the navigation bar */
  .navbar {
    width: 100%;
    background: linear-gradient(to bottom right,#287688, #5BA5AA) fixed;
    /* background-color: #555; */
    overflow: auto;
    border-radius: 10px;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #287688;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  .button {
    background-color: transparent;
    background-image: linear-gradient(to bottom right,#287688, #5BA5AA);
    /* background-image: linear-gradient(to right,#458EDE, #79A9B1); */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  /* The container must be positioned relative: */
  .ns-select {
    position: relative;
    font-family: Roboto, sans-serif;
  }
  
  .ns-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: white;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #7d7d82 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #7d7d82 transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #7d7d82;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right,#287688, #5BA5AA) fixed;
  color: white;
  text-align: center;
}

#searchBar {
  background-image: url();
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#namespacesTable {
  border-collapse: collapse; /* Collapse borders */
  width: 50%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#namespacesTable th, #namespacesTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#namespacesTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#namespacesTable tr.header, #namespacesTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>